#logos{
    padding: 80px;
    margin:auto;
    margin-left: 300px;

}
#eque{
   background-color: blue;
   padding: 5px;
}
#entr{
    background-color: blue;   
    padding: 15px;
    margin:auto;
    margin-left: 600px;
    width: 123px;
    height: 50px;
}                                  
#crir{
    background-color: blue;
    padding: 5px;
}
#roct{
    background-color: blue;
    padding: 5px;
 }
 #tela{
    background-color: black;
 }